$sidebar-bg-color: var(--background);
$sidebar-color: var(--onBackground);
$sidebar-width: 235px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: var(--onBackground);
$submenu-bg-color: var(--onBackground);
$submenu-bg-color-collapsed: var(--onBackground);
$icon-bg-color: var(--surface);
$icon-size: 40px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';